* {
      box-sizing: border-box;
}

body {
      font-family: "Karla", sans-serif;
      margin: 0;
}
main {
      padding: 20px 20px;
      margin: 10px 10px;
}

.form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      border: none;
      padding: 15px 20px;
      /* margin: 20px; */
}

.form-label {
      margin-bottom: 5px;
      padding: 10px;
      font-size: 15px;
      font-weight: 700;
      color: #646464;
}

.form-input {
      font-family: "Karla", sans-serif;
      border-radius: 5px;
      border: 2px solid #292929;
      text-indent: 5px;
      padding: 15px 15px;
      width: 100%;
}

.form-button {
      grid-column: 1 / -1;
      font-family: "Karla", sans-serif;
      border-radius: 5px;
      background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
      color: white;
      border: none;
      cursor: pointer;
      padding: 15px;
}

/* Style the image */
.form-image-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      height: auto;
}

.form-image {
      max-width: 100%;
      max-height: 50%;
}



.meme {
      position: relative;
}

.meme--image {
      max-width: 100%;
      border-radius: 3px;
}

.meme--text {
      position: absolute;
      width: 80%;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      margin: 15px 0;
      padding: 0 5px;
      font-family: impact, sans-serif;
      font-size: 2em;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}

.bottom {
      bottom: 0;
}

.top {
      top: 0;
}